body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 237, 237);
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* barra superior */
/*  */
/*  */
.barra_superior {
    background-color: rgb(255, 255, 255);
    height: 15%;
    width: 100%;
    top: 0%;
    display: flex;/*é necessario para manter lado a lado*/
    position: fixed;
    align-items: center;/*mantem o png da logo centralizado verticalmente*/
}

.barra_superior img {
    /* espaçamento simples da logo */
    margin-left: 3%;
    margin-right: 3%;
}

/* div dos botões */

.botoes {
    /* essa classe é de uma div que ajusta os botoes dentro da barra superior*/
    display: flex;/*é necessario para manter lado a lado*/
    justify-content: space-between;
    width: 83%;
    margin-right: 3%;
}

.botoes button {
    /* estilização para todos os botões dentro da barra superior*/
    border: none;
    cursor: pointer;
}

.reservas_btn:hover {
    /*botão branco é uma classe alternativa para os botões sem cor dentro da barra*/
    background-color: rgb(190, 190, 190);
    color: black;
}

.reservas_btn a {
    color: black;
    text-decoration: none
}

.cadastro a {
    color: rgb(255, 255, 255);
    text-decoration: none
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* dropdown */
/*  */
/*  */

.dropdown-toggle {
    /* classe para o botao que ativa o dropdown*/
    border-radius: 0%;/*deixa o botão quadrado*/
    width: 160px;
}

.dropdown-item:hover {
    background-color: rgb(190, 190, 190);
}

.dropdown-menu.show {
    /* classe para o campo que contem os links que levam o usuario para cada categoria*/
    padding: 0%;
}

.dropdown-divider {
    /* classe que separa o link diversos dos outros dentro do dropdown */
    margin: 0%;
}

.Todos:hover {
    /* classe para o link "diversos" que abrange todas as categorias de veiculos*/
    color: white;
    background-color: #0A58CA;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* slider */
/*  */
/*  */
.slider_pai {
    /* slider inteiro */
    overflow: hidden;
    width: 99%;
    height: 200px;
    margin-top: 9%;
}
/* div filha do slider_pai que contem os elementos de botões e imagens */
.elementos_slide input {
    display: none;/*não mostra ao usuario*/
}
.elementos_slide {
    width: 400%;/*deve ser 100% multiplicado pela qntd de imagens */
    display: flex;
}
/* slides*/

.slide {
    width: 25%;/* o tamanho de cada deve ser definido por 100% divido pela qntd de imagens*/
}
.slide img{/*a proporção das imagens é 1366px por 200px*/
    width:100%;
}

/* Controles: */
/* manual */

/* .navegacao_manual {
    margin-top: -14rem;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
} */

/* .botao_manual {
    display: none;
    /* cursor: pointer;
    border-radius: 10px;
    padding: 8px; 
}

.manual-btn:not(:last-child) {
    margin-right: 38px;
} */
/* radios */
/*essa parte é necessaria para o js realizar o movimento entre slides*/
/*////////////////////////////*/
#radio1:checked~.primeiro {
    margin-left: 0;
    transition: 1s;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
    transition: 1s;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
    transition: 1s;
}

#radio4:checked~.primeiro {
    margin-left: -75%;
    transition: 1s;
}
/*////////////////////////////*/
/* automatico */

/* .navegacao_automatica div {
    display: none;
    /* border: solid 2px #4a4a4a;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s; 
}

.navegacao_automatica {
    position: absolute;
    width: 100%;
    margin-top: 13%;
    /*mesmo tamanho da div slider
    display: flex;
    justify-content: center;
}

.navegacao_automatica div:not(:last-child) {
    margin-right: 40px;
} 

*/
/* //////////////////////////////////////////////// */

/* #radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #4a4a4a;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #4a4a4a;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #4a4a4a;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #4a4a4a;
}
 */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* menu de categorias */
/*  */
/*  */
.menu_de_categorias {
    /* background-color: orange; */
    align-items: center;
    justify-content: center;
    height: 57%;
    width: 100%;
    display: flex;
    margin-top: 5%;
    gap: 2%;
}

.categoria {
    text-align: center;
    background-color: white;
    width: 15%;
    height: 93%;
    transition: 0.5s;
}

.categoria:hover {
    width: 25%;
    height: 100%;
    border-radius: 2rem;
    border: solid 5px rgba(21, 21, 249, 0.811);
}

.categoria img {
    margin-top: 1rem;
}

.categoria p {
    margin-right: auto;
    margin-left: auto;
    height: 26%;
    width: 12rem;
}

.categoria a {
    border-radius: 2rem;
    color: white;
    border: none;
    height: 3rem;
    width: 8rem;
    transition: 0.5s;
}

.categoria a:hover {
    width: 12rem;
    background-color: rgba(255, 170, 13, 0.882);
    color: black;
}