body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 237, 237);
    transition: 0.5s;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* barra superior */
/*  */
/*  */
.barra_superior {
    z-index: 1;
    background-color: rgb(255, 255, 255);
    height: 15%;
    width: 100%;
    top: 0%;
    display: flex;
    /*é necessario para manter lado a lado*/
    position: fixed;
    align-items: center;
    /*mantem o png da logo centralizado verticalmente*/
}

.barra_superior img {
    /* espaçamento simples da logo */
    margin-left: 3%;
    margin-right: 3%;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* div dos botões */

button {
    cursor: pointer;
}

.btn-azul{
    background: linear-gradient(to right, rgb(9, 101, 250), rgb(0, 144, 216));
}
.btn-azul2{
    background: linear-gradient(to left, rgb(9, 101, 250), rgb(0, 144, 216));
}


.btn-azul,
.btn-azul2 {
    border: none;
    border-radius: 2rem;
    color: white;
    border: none;
    height: 3rem;
    width: 8rem;
    transition: 0.5s;
}

.btn-azul:hover, .btn-azul2:hover {
    width: 12rem;
    border: none;
    background: linear-gradient(to right, rgb(155, 255, 4), rgb(242, 226, 0));
    color: black;
}

.botoes {
    /* essa classe é de uma div que ajusta os botoes dentro da barra superior*/
    display: flex;
    /*é necessario para espaçar os 2 grupos de boteos*/
    justify-content: space-between;
    width: 83%;
    margin-right: 3%;
}

.padrao_btn:hover {
    /*botão branco é uma classe alternativa para os botões sem cor dentro da barra*/
    background-color: rgb(190, 190, 190);
    color: black;
}

.padrao_btn a {
    color: black;
    text-decoration: none
}

/* ///// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* dropdown */
/*  */

/* estilização geral: */
.dropdown-menu.show {
    padding: 0%;
}

.dropdown-item:hover {
    background-color: lightgray;
}

/**/

#alugue {
    border: none;
    background: linear-gradient(to right, rgb(9, 101, 250), rgb(0, 144, 216));
    border-radius: 0%;
}

/* dropdown perfil */
.perfil {
    margin-bottom: 5px;
}

.perfil_btn a {
    color: black;
    text-decoration: none
}

.perfil_btn {
    display: flex;
}

.perfil_btn:hover {
    /*botão branco é uma classe alternativa para os botões sem cor dentro da barra*/
    background-color: rgb(190, 190, 190);
    color: black;
}

/*  */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* slider */
/*  */
/*  */
.slider_pai {
    /* slider inteiro */
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 40%;
    margin-top: 7%;
}

/* div filha do slider_pai que contem os elementos de botões e imagens */
.elementos_slide input {
    display: none;
    /*não mostra ao usuario*/
}

.elementos_slide {
    width: 400%;
    /*deve ser 100% multiplicado pela qquantidade de imagens */
    display: flex;
}

/* slides*/

.slide {
    width: 25%;
    /* o tamanho de cada deve ser definido por 100% divido pela quantidade de imagens*/
}

.slide img {
    /*a proporção das imagens é 1366px por 200px*/
    margin-top: 2%;
    width: 100%;
}

/* Controles: */
/* manual */

/* .navegacao_manual {
    margin-top: -14rem;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
} */

/* .botao_manual {
    display: none;
    /* cursor: pointer;
    border-radius: 10px;
    padding: 8px; 
}

.manual-btn:not(:last-child) {
    margin-right: 38px;
} */
/* radios */
/*essa parte é necessaria para o js realizar o movimento entre slides*/
/*////////////////////////////*/
#radio1:checked~.primeiro {
    margin-left: 0;
    transition: 1s;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
    transition: 1s;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
    transition: 1s;
}

#radio4:checked~.primeiro {
    margin-left: -75%;
    transition: 1s;
}

/*////////////////////////////*/
/* automatico */

/* .navegacao_automatica div {
    display: none;
    /* border: solid 2px #4a4a4a;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s; 
}

.navegacao_automatica {
    position: absolute;
    width: 100%;
    margin-top: 13%;
    /*mesmo tamanho da div slider
    display: flex;
    justify-content: center;
}

.navegacao_automatica div:not(:last-child) {
    margin-right: 40px;
} 

*/
/* //////////////////////////////////////////////// */

/* #radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #4a4a4a;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #4a4a4a;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #4a4a4a;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #4a4a4a;
}
 */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*carta*/
.carta {
    display: flex;
    background: linear-gradient(to right, rgb(43, 124, 255), rgb(40, 176, 243));
    margin: 5% auto;
    width: 85%;
    height: 50%;
    transition: 0.5s;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2%;
    color: white;
}

#grupo3 {
    margin-left: 20%;
    margin-top: 8%;
    border-radius: 2rem;
}

#grupo3 button {
    width: 30%;
}

.carta:hover {
    margin: 4% auto;
    width: 88%;
    height: 54%;
}

.carta img {
    width: 400px;
}

.carta p {
    width: 500px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* menu de categorias */
/*  */
/*  */
#texto_categorias {
    border-radius: 2rem;
    margin: 0% auto;
    align-items: center;
    background: linear-gradient(to bottom, rgb(34, 34, 34), rgb(36, 36, 36));
    height: max-content;
    width: 23%;
    color: white;
}

#texto_categorias:hover {
    background: linear-gradient(to bottom, rgb(50, 50, 50), rgb(66, 66, 66));

}

.menu_de_categorias {
    /* background-color: orange; */
    align-items: center;
    justify-content: center;
    height: 57%;
    width: 100%;
    display: flex;
    margin-top: 1%;
    margin-bottom: 5%;
    gap: 2%;
}

.categoria {
    text-align: center;
    background-color: white;
    width: 15%;
    height: 93%;
    transition: 0.5s;
}

.categoria:hover {
    width: 25%;
    height: 100%;
    border: solid 7px;
    border-image-slice: 12;
    border-image-source: linear-gradient(45deg, rgb(138, 216, 255), rgb(43, 124, 255));
}

.categoria img {
    margin-top: 1rem;
}

.categoria p {
    margin-right: auto;
    margin-left: auto;
    height: 26%;
    width: 12rem;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.rodape {
    color: white;
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: max-content;
}

.copyright {
    padding-bottom: 5%;
    text-align: center;
    color: gray;
}

.texto_rodape img {
    margin-left: 4px;
    margin-bottom: 5px;
    width: 15px;
}

.texto_rodape {
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-bottom: gray 2px solid;
}

.texto_rodape .pequeno_texto {
    margin-left: 1%;
}

.subtitulo {
    margin-bottom: 0%;
    font-size: 20px;
    margin-left: 1%;
}