@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
:root {
  --background-color: #454545;
  --primary-color: #3aafb9;
  --white: #ffff;
  --light-gray: #eeee;
  --light-primary: #e6fcff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
  font-family: sans-serif;
}

.container {
  text-align: center;
}

.wrapper {
  background-color: var(--white);
  position: absolute;
  width: 800px;
  height: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 15px 15px #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
}


/* table */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: var(--primary-color);
  color: var(--light-primary);
}

.scrollable-table {
  overflow: auto;
  width: 100%;
  height: 450px;
  background-color: var(--light-gray);
}

.scrollable-table td {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
}

.scrollable-table td:nth-child(1) {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
  max-width: 10px;
  text-align: center;
}

.scrollable-table td:nth-child(2) {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
  width: 250px;
  max-width: 250px;
}

.scrollable-table td:nth-child(3) {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
  max-width: 140px;
}
.scrollable-table td:nth-child(4) {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
  max-width: 50px;
}

.scrollable-table td:nth-child(5) {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
  max-width: 10px;
  text-align: center;
}

.table-header th:nth-child(1) {
  padding: 8px;
  width: 30px;
  text-align: center;
}

.table-header th:nth-child(2) {
  width: 250px;
}

.table-header th:nth-child(3) {
  width: 250px;
}
.table-header th:nth-child(4) {
  padding-left: 40px;
}

.list-wrapper {
  margin-top: 40px;
  width: 100%;
}

.scrollable-table:nth-child(odd) {
  background-color: var(--light-gray);
}

tr:nth-child(even) {
  background-color: var(--white);
}
