.btn-hover{
  transition: 0.5s;
}

.btn-hover:hover { background-color: #0056b3;
color: white; }

.dropdown-menu.show{
  transition: transform 1.5s;
}

.mt-6 {
  margin-top: 6rem;
}
.ms-6 {
  margin-left: 15rem;
}

.table-container{
  transition: 0.5s ease;
}

.table-container.shifted {
  padding-right: 20rem;
}

.table-container.shiftedB {
  margin-top: 20rem;
}

@media (max-width: 600px) {
  .table-container {
      
      margin-right: 2rem;
  }

  header {
      font-size: 1.5em;
  }
}
