:root{
  --texto: rgb(0, 0, 0);
  --sombra: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --principal: white;
  
  
}

.grupo1{
  background-color: none;
    border-radius: 2rem;
    width: auto;
}
.grupo1{
  margin-left: 0%;
}
.grupo1 .btn-padrao{
  outline: none;
    font-size: 100%;
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 2rem;
    transition: 0.5s;
}

.btn-padrao{
  background-color: var(--principal);
  color: var(--texto);

}.btn-padrao:hover{
  outline: none;
  opacity: 1;
  box-shadow: var(--sombra);
}
#switch_tema{/*id do botao de tema*/
  width: 4rem;
}

#icon_sol{
  display: none;
}


.btn-hover{
  transition: 0.5s;
}
.w-35{
  width: 26rem;
}
.w-5{
  width: 3rem;
}
 
.btn-hover:hover { background-color: #0056b3;
color: white; }

.dropdown-menu.show{
  transition: transform 1.5s;
}

.mt-6 {
  margin-top: 6rem;
}
.ms-6 {
  margin-left: 15rem;
}

.me-7{
  margin-right: 18rem;
}

.table-container{
  display: none;
  transition: 0.5s ease;
}

.table-container.shifted {
  padding-right: 16rem;
}

.table-container.shiftedB {
  margin-top: 20rem;
}

.tabelaSelect{
  mix-blend-mode: difference;
  
}

@media (max-width: 600px) {
  .table-container  {
      
      margin-right: 2rem;
  }

  header {
      font-size: 1.5em;
  }
}
@media (min-width: 601px) and (max-width: 898px) {
  .table-container {
    margin-right: 0%;
  }

  header {
      font-size: 2em;
  }
  
}

/* Estilos para tablets em paisagem e desktops pequenos */
@media (min-width: 899px) and (max-width: 1065px) {
 .table-container {
  margin-right: 23%;
  }

  header {
      font-size: 2.5em;
  }
  
}

/* Estilos para desktops grandes */
@media (min-width: 1025px) {
  .table-container {
    margin-right: 0%;
  }

  header {
      font-size: 3em;
  }
}

#carouselInfoCar{
  width: 50%;
  margin-left: 3rem;
  
}
.fichaTecnica{
  margin-right: 17%;
  margin-top: 3%;
}


@media (max-width: 1250px) {
  .modal-body{
    display: flex;
  flex-direction: column;
    
  }
.item:nth-child(1) {
    order: 2;
}
.item:nth-child(2) {
    order: 3;
}
.item:nth-child(3) {
    order: 1;
}
#carouselInfoCar{
  width: 80%;
  margin-left: 10%;
}
.fichaTecnica{
  margin-left: 10%;
  margin-top: 3%;
}
}
