@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
:root {
  --background-color: #454545;
  --primary-color: #3aafb9;
  --white: #ffff;
  --light-gray: #eeee;
  --light-primary: #e6fcff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: var(--background-color);
  font-family: sans-serif;
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

/* menu //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.container-menu{
  position: absolute;
  margin-bottom: 5%;
  z-index: 1;
}

.btn-dropdown:hover , .btn{
  color: var(--light-gray);
  background-color: var(--primary-color);
  border: none;
  outline: none;
}
.btn-dropdown:hover , .btn:active{
  outline: none;
}
.btn-dropdown:hover ,.btn:hover{
  background-color: var(--background-color);
}
.btn-dropdown:hover ,.btn {
  text-align: center;
  float: left;
}

.btn-dropdown:hover ,.btn {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
}


/* dropdown "gerenciamento" //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#exibir-menu:hover ~ .dropdown-content, .dropdown-content:hover{
  display: block;
}

.btn-dropdown, .dropdown-content{
  width: 7rem;
}
.dropdown-content{
  display: none;
}

.gerenciamento{
  display: flex;
  flex-direction: column;
}

/* lista ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.lista{
  margin: 6% 0px;
  flex-direction: column;
  height: max-content;
  align-items: center;
  display: flex;
  width: 100%;
}
/* tabela usuarios //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.tabela_usuario, .tabela_funcionario{
  width:max-content;
  border-collapse: collapse;
}

.tabela_funcionario td, .tabela_usuario td{
  text-align: center;
  padding: 5px 5px;
}

.tabela_usuario th , .tabela_funcionario th{
  background-color: var(--primary-color);
  color: var(--light-primary);
}
.tabela_usuario tr, .tabela_funcionario tr{
  background-color: var(--light-gray);
}
.tabela_usuario tr:nth-child(even),
.tabela_funcionario tr:nth-child(even) {/*pula um filho dentro do elemento*/
  background-color: var(--white);
}
.tabela_usuario button,
.tabela_funcionario button{
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: var(--primary-color);
  border: none;
  outline: none;
}
.tabela_usuario button:active,
.tabela_funcionario button:active{
  outline: none;
}
.tabela_usuario button:hover,
.tabela_funcionario button:hover{
  background-color: var(--white);
}
/* exibir veiculos/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.item_lista_veiculo{
  gap: 4%;
  align-items: center;
  margin: 1% 0;
  display: flex;
  height: 8rem;
  width: 20rem;
  background-color: var(--light-gray);
}

.img-car{
  margin-left: 5%;
  object-fit: fill;
  height: 100px;
  width: 100px;
}
@media(max-width:686px){
  .lista{
    margin-top:13%;
  }
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/

#form-addCars, #form-addFunc{
  display: flex;
  flex-direction: column;
} 
#form-addCars input, #form-addFunc input{
  border: none;
  border-bottom: solid gray 2px;
}
#form-addCars input:valid,
#form-addCars input:active,
#form-addFunc input:valid,
#form-addFunc input:active{
  outline: none;
}

#form-addCars button{
  margin-top: 3px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  padding: 10px;
  width: 100px;
}
#form-addCars textarea{
  resize: none;
  height: 3rem;
}
/* ////////////////////////////////// */

#form-addFunc button{
  margin-top: 3px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
}



/* scroll
.scrollable-table {
  overflow: auto;
  width: 450px;
  height: 430px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(10%, 0%);
}


.scrollable-table tr {
  display: block;
  margin: 15px 50px;
}

.scrollable-table td {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
}

.scrollable-table td:nth-child(1) {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
  max-width: 10px;
  text-align: center;
}

.scrollable-table td:nth-child(2) {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
  width: 250px;
  max-width: 250px;
}

.scrollable-table td:nth-child(3) {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
  max-width: 140px;
}
.scrollable-table td:nth-child(4) {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
  max-width: 50px;
}

.scrollable-table td:nth-child(5) {
  box-shadow: 0 0 1px var(--background-color);
  border: #232323;
  padding: 8px;
  max-width: 10px;
  text-align: center;
}

/* table */
/*
.wrapper {
  background-color: var(--white);
  position: absolute;
  width: 554px;
  height: 598px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 15px 15px #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
}




.list-wrapper {
  margin-top: 40px;
  width: 100%;
}

#vertical {
  width: 435px;
}

#vertical thead {
  max-width: 250px;
}

#vertical tbody {
  background-color: var(--light-gray);
  margin-top: 16px;
  max-width: 285px;
  text-align: left;

}

#vertical thead,
#vertical tbody {
  display: inline-block;
  background-color: var(--light-gray);
  
}
 */
