::-ms-reveal {/*desativar o olho padrão do edge*/
    display: none;
}
:root{
    --fundo: rgb(238, 237, 237);
    --fundo-tela-login: #2b3035;
    --hover: #8bb9fe;
    --hover2: black; 
    --input: transparent; 
    --barra-pesquisa:white;
    --texto2:#dee2e6;
    --text-input: black; 

}
body {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: var(--fundo);
    min-width: 440px;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    text-align: center;
    width: 30rem;
    background-color: var(--principal);
}

form img {
    margin-top: 7%;
    width: 70%;
}

/*inputs*/

.input-group {
    /*para o grupo de input*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 60%;
}

input:focus {
    /*remove a borda enquanto o campo está selecionado*/
    outline: none;
}

.input-group input {
    /*para os inputs dentro do grupo de inputs*/
    border-radius: 0%;
    border: none;
    border-bottom: 1px solid gray;
    height: 34px;
    width: 100%;
}


/* animação do texto dentro das caixas input */


/*caso elas não sejam aplicadas da maneira correta cheque se a posição do input & span o span -->*/


/*vem sempre após o input dentro do conteiner "input-group" do bootstrap versão 5.3*/

.input-group input:valid~span,
.input-group input:focus~span {
    font-size: .85rem;
    transform: translateY(-25px);
}

.input-group span {
    /* posicionar o texto dentro das caixas input*/
    pointer-events: none;
    position: absolute;
    left: 0%;
    padding: 7px;
    transition: .2s;
}

.input-group .ver_senha {
    margin-left: 20%;
    width: 1rem;
    position: absolute;
    right: 0%;
    padding: 7px;
}

.form-select {
    border-radius: 0%;
    border: solid gray 1px;
}


/*escopo*/

button {
    margin: 5% auto;
    width: max-content;
    border: none;
}

a {
    color: gray;
}

a:hover {
    color: rgb(0, 136, 255);
}

@media(max-width:561px) {
    .btn-primary {
        font-size: 10px;
    }

    .input-group input:valid~span,
    .input-group input:focus~span {
        font-size: .70rem;
        transform: translateY(-20px);
    }
}

.popup-on{
    display: block;
    position: fixed;
    width: 14%;
    text-align: center;
    height: 5%;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    right: 0;
    left: 0;
    z-index: 10;
    animation-name: slidetop;
    animation-duration: 400ms ;
    animation-fill-mode: forwards;
}
 .popup-off{
    display: block;
    position: fixed;
    width: 14%;
    text-align: center;
    height: 5%;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    right: 0;
    left: 0;
    z-index: 10;
    animation-name: slidedown;
    animation-duration: 400ms ;
    animation-fill-mode: forwards;
} 
@keyframes slidetop{
    0%{
        opacity: 0;
    }
    from{
        top: -5%;
    }
    50%{
        opacity: 0.5;
    }
    to{
        top: 5%;        
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes slidedown{
    0%{
        opacity: 0;
    }
    from{
        top: 5%;
    }
    50%{
        opacity: 0.5;
    }
    to{
        top: -5%;        
    }
    100%{
        opacity: 1;
    }
    
}
@media(max-width:510px){
    form{
       width: 20rem;
       height: max-content;
    }
} 