:root {
  --white: #ffff;
  --light-gray: #eeee;
  --light-primary: #e6fcff;
  --fundo: #454545;
  --sombra-e-texto: rgb(228, 228, 228);
  --principal: rgb(39, 39, 39);
  --barra-pesquisa:white;
  --texto2:gray;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: var(--fundo);
  font-family: sans-serif;
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}


/*//////////////////////////////////////////////////////////////////////////////////*/

  .container-menu{
    position: absolute;
    margin-bottom: 5%;
    z-index: 1;
  }

/*//////////////////////////////////////////////////////////////////////////////////*/

.btn{
  color: var(--light-gray);
  background-color: var(--principal);
  border: none;
  outline: none;
}
.btn:active{
  outline: none;
}
.btn:hover{
  background-color: var(--fundo);
}
.btn {
  text-align: center;
  float: left;
}

.btn {
  color: var(--sombra-e-texto);
  text-align: center;
  padding: 14px 16px;
}

/*//////////////////////////////////////////////////////////////////////////////////*/

.lista{
  margin: 6% 0px;
  flex-direction: column;
  height: max-content;
  align-items: center;
  display: flex;
  width: 100%;
}

/**/

.tabela_usuario{
  width: max-content;
  border-collapse: collapse;
  cursor: default;
}

.tabela_funcionario td{
  text-align: center;
  padding: 5px 5px;
}

.tabela_usuario th{
  background-color: var(--principal);
  color: var(--sombra-e-texto);
}
.tabela_usuario tr{
  background-color: var(--light-gray);
}
.tabela_usuario tr:nth-child(even) {/*pula um filho dentro do elemento*/
  background-color: var(--white);
}

/**/
.item_lista_veiculo{
  gap: 4%;
  align-items: center;
  margin: 1% 0;
  display: flex;
  height: 8rem;
  width: 20rem;
  background-color: var(--light-gray);
}

.img-car{
  margin-left: 5%;
  object-fit: fill;
  height: 100px;
  width: 100px;
}
@media(max-width:686px){
  .lista{
    margin-top:13%;
  }
}
/**/

.tabela_usuario_btn{
  margin-bottom: 10px;
  width: max-content;
  
}

.tabela_usuario_btn{
  gap: 2%;
  display: flex;
  justify-content: center;
}

.tabela_usuario_btn button{
  font-weight: bold;
  text-align: center;
  color: var(--sombra-e-texto);
  background-color: var(--principal);
  border: none;
  outline: none;
}
.tabela_usuario_btn button:active
{
  outline: none;
}
.tabela_usuario_btn button:hover{
  color: var(--principal);
  background-color: var(--white);
}
