/* tudo */
*{
    font-family: "poppins",sans-serif;
}

:root{
    --fundo: rgb(238, 237, 237);
    --texto: rgb(0, 0, 0);
    --sombra: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --principal: white;
    --barra-pesquisa:white;
    --texto2:gray;
    --azul:#0D6EFD;
}
body {
    background-color: var(--fundo);
    min-width: 440px;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100vh;
}

/*//navbar//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
nav {
    transition: 0.5s;
    top: 0%;
    transform: translateY(0px);
    width: 100%;
    height: 5rem;
    position: fixed;
    align-items: center;
    display: flex;
}
/* grupo de botões */
.grupo1,
.grupo2 {
    background-color: none;
    border-radius: 2rem;
    width: auto;
}
.grupo1 {
    margin-left: 3%;
}

.grupo2 {
    margin-left: auto;
    margin-right: 2%;
}
/* botões */
nav .btn-padrao {
    outline: none;
    font-size: 100%;
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 2rem;
    transition: 0.5s;
}
nav #btn_reservas{
    width: max-content;
    padding-left: 13px;
}
nav i{
    margin: 0% 10px;
}
.btn-padrao{
    background-color: var(--principal);
    color: var(--texto);
}
.btn-padrao:hover, .barra:focus {
    outline: none;
    opacity: 1;
    box-shadow: var(--sombra);
}
.barra:focus~.btn{
    box-shadow: var(--sombra);
}
/* tema */


#switch_tema{/*id do botao de tema*/
    width: 4rem;
}
#icon_sol{
    display: none;
}
nav .btn-padrao,.dropdown-menu,.dropdown-item{
    opacity: 0.28;
    transition: 0.5s;
}

.dropdown-menu{
    z-index: 0;
    background-color: var(--principal);
}
.dropdown-menu:hover, .dropdown-item:hover{
    opacity: 1 ;
    box-shadow: var(--sombra);
}
.dropdown-item{
    color: var(--texto);
    background-color: var(--principal);
}

@media(max-width : 420px) {
    #navbar .btn-padrao {
        width: max-content;
    }
    #navbar {
        font-size: 60%;
    }

}

/* //banner/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.banner{
    z-index: -1;
    display: flex;
    position: relative;
    background: linear-gradient(to right, rgb(9, 102, 251), rgb(0, 105, 157),rgb(0, 55, 175) );
    width: 100%;
    height: 490px;

}

.texto_promocional{
    padding: 2% 2%;
    margin-left: 53%;
    height: 100%;
    width: 25%;
    background: linear-gradient(to bottom, rgb(255, 204, 0), rgb(234, 183, 0), rgb(255, 187, 0) );
}
.texto_promocional img{
    width:100%;
}
.banner .icons{
    text-align: start;
}
.icons{
    bottom: 8%;
    margin-left: 3%;
    text-align: center;
    width: 50%;
    height: max-content;
}
.icons i{
    margin: 0% 1%;
    border-radius: 12px;
    padding: 5px;
    background-color: white;
    font-size: 100%;
}
.campo_texto1 h4 
.campo_texto2 h4 {
    font-size: 100%;
}
.campo_texto1 p 
.campo_texto2 p {
    font-size: 80%;
}
.campo_texto1,
.campo_texto2{
    transition: 0.5s;
    margin-top: 8%;
    transition: 0.5s;
    width: 45%;
    color: white;
}
.campo_texto1,
.campo_texto2,
.icons{
    position: absolute;
    margin-left: 3%;
}
.campo_texto2{
    opacity: 0;
}
.img_banner{
    bottom: 0%;
    right: 1%;
    position: absolute;
    width: 40%;
}
@media(max-width:902px){
 .banner{
    height: 60%;
 }
}
@media(max-width:456px){
    .campo_texto1 h4 
.campo_texto2 h4 {
    font-size: 80%;
}
.campo_texto1 p 
.campo_texto2 p {
    font-size: 60px;
}
.campo_texto1,
.campo_texto2 {
    margin-top: 20%;
    width: 80%;
}
.texto_promocional{
    display: none;
}
.banner{
    height: 50%;
}
}
/*/fim navbar//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.barra_pesquisa {
    width: max-content;
    margin: 4% auto;
    z-index: -2;
}

.barra {
    background-color: var(--barra-pesquisa);
    border-radius: 2rem 0 0 2rem;
    width: 100%;
    padding: 0 20px;
    border: none;
}
.barra_pesquisa input{
    color: var(--texto);
}

.btn,
.barra {
    transition: 0.5s;
}

.btn {
    border: none;
    border-radius: 0 2rem 2rem 0;
}

.btn:hover {
    border: none;
    transition: 0.5s;
    box-shadow: var(--sombra);
    background-color: rgb(226, 226, 226);
}
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */

.pagination{  
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    width: max-content;
}
.pagination span{
    border: none;
    background-color: var(--barra-pesquisa);
}

#get-data .catalogo_veiculos{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.info_carro img{
    object-fit: cover;
    width: 160px;
    margin-top: 6%;
}

.info_carro{/*vulgo item de catalogo*/
    margin: 3%;
    text-align: center;
    transition: 0.5s;
    border-radius: 1rem;
    height: 25rem;
    width: 20rem;
    background-color:var(--principal);
}
.info_carro:hover{
    box-shadow: var(--sombra);
}
.desc_veiculo{
    font-weight: bold;
    color: var(--texto2);
    margin-left: 20%;
    text-align: start;
}
.page-link:hover{
    background-color: var(--azul) ;
    color: white;
}
.btn-aluguel{
    background-color: var(--azul);
    transition: 0.5s;
    margin: 5% 0%;
    font-size: 100%;
    color: white;
    width: 30%;
    border: none;
    border-radius: 2rem;
}
.btn-aluguel:hover{
    box-shadow: var(--sombra);
    background-color: rgb(41, 255, 113);
}
/*breakpoints*/
@media(max-width:890px){
    .info_carro{
        width: 45%;
    }
}
@media(max-width:670px){
    .info_carro{
        height: max-content;
        width: 55%;
    }
}


/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */

.rodape {
    margin-top: auto;
    margin-bottom: 0%;
    color: white;
    background-color: rgb(34, 34, 34);
    width: 100%;
}

.texto_rodape {
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-bottom: gray 2px solid;
}

.texto_rodape .pequeno_texto {
    margin-left: 1%;
}

.subtitulo {
    margin-bottom: 0%;
    font-size: 20px;
    margin-left: 1%;
}
.copyright {
    padding-bottom: 5%;
    text-align: center;
    color: gray;
}