::-ms-reveal {
    display: none;
}
:root{
    --fundo: rgb(238, 237, 237);
    --sombra-e-texto: rgb(0, 0, 0);
    --principal: white;
    --barra-pesquisa:white;
    --texto2:gray;
}
 body { 
    background-color: var(--fundo);
    min-width: 440px;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 /* //corpo da tela de login///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
 .tela_login {
     background-color: white;
     width: 30rem;
     height: max-content;
     text-align: center;
 }

 .img_logo {
     padding: 7% 0;
 }

 

 /* ////////////////////////////// */

 /* campos de input /////////////////////////*/


 .input-group {
     margin: 7% auto;
     width: 60%;
 }

 .input-group input {
     border-radius: 0%;
     border: none;
     border-bottom: 1px solid gray;
     height: 34px;
     width: 100%;
 }

 .input-group input:focus {
     outline: none;
     background: transparent;
 }

 /* Botoes individuais ////////////////////////////////////////////////////////////////////////////////////////////////////*/
 /* botao enviar */

 #enviar {
     width: max-content;
     margin-left: auto;
     margin-right: auto;
     font-size: medium;
     border: none;
 }

 /* botao de cadastro */

 #cadastro {
     margin-left: auto;
     margin-right: auto;
     background-color: white;
     margin-bottom: 7%;
     margin-top: 1%;
     color: gray;
     text-decoration: none;
 }

 #cadastro:hover {
     color: black;
 }

 /* botoes_enviar_cadastrar */

 .botoes_enviar_cadastrar {
     display: grid;
 }

 /* animacão dos inputs */

 .input-group input:valid~span,
 .input-group input:focus~span {
     font-size: .85rem;
     transform: translateY(-32px);
 }

 .input-group span {
     /* posicionar o texto dentro das caixas input*/
     pointer-events: none;
     position: absolute;
     left: 0%;
     padding: 7px;
     transition: .2s;
 }

 .input-group .ver_senha {
     margin-left: 20%;
     width: 1rem;
     position: absolute;
     right: 0%;
     padding: 7px;
 }

 /* link ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
 .home a {
     color: gray;
 }

 .home a:hover {
     color: rgb(0, 136, 255);
 }

 /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
 @media(max-width:510px){
     .tela_login{
        width: 20rem;
        height: max-content;
     }
     #login_texto{
        display: none;
    }
      /* .input-group input:valid~span,
     .input-group input:focus~span {
         font-size: .70rem;
         transform: translateY(-20px);
     }  */
 } 