body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(238, 237, 237);
}
form{
    display: block;
    text-align: center;
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
form img{
    margin-top: 7%;
    width:70%;
}
/*inputs*/
.input-group{/*para o grupo de input*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 60%;
}

input:focus{/*remove a borda enquanto o campo está selecionado*/
    outline: none;
}

.input-group input {/*para os inputs dentro do grupo de inputs*/
    border-radius: 0%;
    border: none;
    border-bottom: 1px solid gray;
    height: 34px;
    width: 100%;
}

/* animação do texto dentro das caixas input */
/*caso elas não sejam aplicadas da maneira correta cheque se a posição do input & span o span -->*/
/*vem sempre após o input dentro do conteiner "input-group" do bootstrap versão 5.3*/
.input-group input:valid~span,
.input-group input:focus~span {
    font-size: .85rem;
    transform: translateY(-32px);
}

.input-group span {
    /* posicionar o texto dentro das caixas input*/
    position: absolute;
    left: 0%;
    padding: 7px;
    transition: .2s;
}
/*escopo*/
button{
    margin: 3% auto;
}
